
.depicter-revert .depicter-1-element-16{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-1-element-16 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-1-element-17{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-1-element-17 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-1-element-4{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-3{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-9{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-8{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-7{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-6 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-14{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-13{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-12{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-11 .depicter-section-background{
	background-color:#FFFFFF;
}

